:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #fff3b4, #e04c4d);
  background-size: 300% 300%;
  animation: backgroundAnimation 20s ease infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.05rem, transparent 0.25rem);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

#app {
  max-width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  z-index: 1;
  margin: 2em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 50px 22px -35px rgba(0, 0, 0, 0.1);
}

#logo-title-container {
 display: flex;
 gap: 2em;
}

#logo-title-container > img {
  height: 5em;
}

#logo-title-container > h1 {
  margin: 0;
  color: #f0f3fe;
}

#btn-container {
  display: flex;
  gap: 2em;
}

button {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: background-color 250ms;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 250ms;
}

button:disabled {
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: -5%;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-start-game {
  font-weight: bold;
  box-shadow: 0px 30px 25px -30px rgba(0, 0, 0, 1);
}

#start-game-santa {
  position: absolute;
  top: 22.5em;
  width: 12em;
}

#shell-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
}

.shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  cursor: pointer;
}

.hat {
  position: absolute;
  width: 10em;
  z-index: 3;
}

.hat[data-jiggle='true']:hover {
  animation: jiggle 0.5s ease-in-out infinite;
}

@keyframes jiggle {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

#ball {
  position: absolute;
  top: 80%;
  left: -10%;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

#chances-container {
  text-align: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9998;
}

.modal {
  width: 50dvw;
  padding: 2em;
  border-radius: 1em;
  border-color: transparent;
  text-align: center;
  z-index: 9999;
}

.modal-content h2 {
  margin-bottom: 2em;
}

.modal-content label {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.modal-content .modal-difficulty-container {
  display: flex;
  gap: 1em;
}

.modal-content .modal-difficulty-container>button {
  font-size: 1.2rem;
  background-color: transparent;
  font-weight: normal;
  text-transform: capitalize;
}

.selected-difficulty {
  background-color: #1a1a1a !important;
}

.modal-content input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.modal-content #modal-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
}

.modal-content #actions-container {
  display: flex;
  gap: 5%;
}

.modal-content button {
  width: 100%;
  font-size: 1.25rem;
}
